<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" :value='name'>
        <p v-if="myInfo">{{name}} {{age}}</p>

        <!-- click event
        <button v-on:click="age++">Inc</button>
        <button v-on:click="age--">Dec</button>
        <br>
        <button v-on:click="changeTitle('oum')">test</button> -->

        <!-- Condition Rendering -->
        <button v-on:click="toggle">
            <span v-if="myInfo">Hide</span>
            <span v-if="!myInfo">Show</span>
        </button>
        <!-- style css display block if true && display none if false -->
        <h3 v-show="myInfo">Hi guys</h3>

    </div>

    <script src="app.js"></script>
</body>
</html>